- content_for(:title) do
  Listing Projects

- content_for(:content_header_links) do
  .justify-content-end.d-flex
    .btn-group.mr-2
      = link_to 'New Project', new_project_path, class: 'btn btn-sm btn-outline-secondary'
    .btn-group
      = form_tag projects_path, class: 'input-group input-group-sm', method: :get do
        .input-group-prepend
          .input-group-text
            Filter
        = select_status_tag
        = select_client_tag

.flex-column.w-100.dark-gray
  - @projects.each_with_index do |project, index|
    .d-flex.m-2.p-4.border.shadow-sm.bg-light.position-relative.project
      .w-40.flex-row.border-right.pr-3.position-relative
        .d-flex.project-title.mb-3.flex-column
          %h5
            \#
            = index + 1
            = project.name
          %span{ class: "mb-2 mr-auto badge badge-#{status_class(project)}" }= project.status_name.to_s.humanize
          %span.text-capitalize.font-weight-bold= project.client.name
        .text-uppercase.project-price.mt-4.position-absolute
          %span
            = project.price
            = currency_name(project.currency)

      .w-35.border-right.px-3
        .project-assigned-resources
          .project-assigned-resource.d-flex.mb-2.pb-2.border-bottom.text-center
            .w-35
              %span.oi.oi-people{ title: 'resource name' }
            .w-20
              %span.oi.oi-command{ title: 'resource type' }
            .w-15
              %span.oi.oi-wrench{ title: 'assigned hours' }
            .w-15
              %span.oi.oi-pin{ title: 'total estimated hours for project' }
            .w-15
              %span.oi.oi-warning{ title: 'unallocated hours for project' }
          - project.resource_types.each do |rt|
            - if project.assigned_resources.by_type(rt).any?
              - project.assigned_resources.by_type(rt).each do |ar|
                .project-assigned-resource.d-flex.mb-2.pb-2.border-bottom.text-center
                  .w-35
                    = ar.resource.name
                  .w-20
                    = resource_type_name(rt)
                  .w-15
                    %span= ar.hours_consumed
                  .w-15
                    %span= project.estimated_hours_for(ar.resource_type_id)
                  .w-15
                    %span= project.unallocated_hours_for(ar.resource_type_id)
            - else
              .project-assigned-resource.d-flex.mb-2.pb-2.border-bottom.text-center
                .w-35 -
                .w-20
                  = resource_type_name(rt)
                .w-15
                  %span -
                .w-15
                  %span= project.estimated_hours_for(rt)
                .w-15
                  %span= project.unallocated_hours_for(rt)

          .estimation-details.text-center
            = link_to 'details', project
      .w-25.pl-3.third
        .d-flex.project-dates.mb-2
          .d-flex.w-50.text-left.mr-2.flex-column
            %span.text-uppercase.pr-2= 'START: '
            %span= project.start_date.pretty
          .d-flex.w-50.text-left.flex-column
            %span.text-uppercase.pr-2= 'END: '
            %span= project.end_date.pretty
        .d-flex.code-complete.mb-2
          .w-50.mr-2
            code complete:
          .w-50.text-underscore
            = project.code_complete_date.pretty
        .d-flex.project-corrections.flex-column
          %span.mb-1 adjustments:

          - project.adjustments.each do |adjustment|
            .d-flex.flex-row.border-bottom.mb-1
              .d-flex.w-50.text-left.mr-2.flex-column
                %span.from.text-uppercase.text-underline= 'FROM: '
                %span= adjustment.date.pretty
              .d-flex.w-50.text-left.flex-column
                %span.to.text-uppercase.text-underline= 'TO: '
                %span= adjustment.date.pretty
              %span.pt-3
                = link_to project_adjustment_path(project, adjustment), method: :delete, data: { confirm: 'Are you sure?' } do
                  %span.oi.oi-trash
      .btn-group.btn-action_absolute
        .btn.dropdown-toggle.font-weight-bold{ 'data-toggle': :dropdown, 'aria-haspopup': true, 'aria-expanded': false }
        .dropdown-menu.dropdown-menu-right
          = link_to 'Edit', edit_project_path(project) , class: 'dropdown-item'
          = link_to 'Adjust', new_project_adjustment_path(project), class: 'dropdown-item'
          = link_to 'Destroy', project, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' }
