

.w-25.py-5.my-5.mx-auto
  %h1.form-heading
    Sign in
  %p Please enter your email and password
  .content
    = devise_error_messages!
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
      .form-group
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email Address', id: 'inputEmail'
      .form-group
        = f.password_field :password, class: 'form-control',  placeholder: 'Password', id: 'inputPassword'
      .forgot
        = link_to 'Forgot password?', new_password_path(resource_name)
      = f.submit 'Sign in', class: 'btn btn-primary'
      \ or
      = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary'

-#= f.check_box :remember_me
-#Remember me
