%ul.nav.flex-column.text-light
  %li.nav-item
    = dashboard_link_to 'Clients', clients_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Projects', projects_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Resources', resources_path, class: 'nav-link'

%h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-light
  %span Reports
%ul.nav.flex-column.mb-2
  %li.nav-item
    = link_to 'Report', calendar_days_path, class: 'nav-link'
  %li.nav-item
    = link_to 'By resource type', '#', class: 'nav-link'
  %li.nav-item
    = link_to 'By project', '#', class: 'nav-link'
